.detailPage {
  min-height: 100vh;
  padding: 80px 0 120px 0;
}
.btn {
  margin: 0 auto;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 60px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.leftContent {
  padding-right: 40px;
}

.rightContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
}
.titleWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 56px;
}
.title {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 600;
}
.titleWrap p {
  font-size: 16px;
  font-weight: 600;
}
.description {
  font-size: 18px;
  line-height: 1.28;
  padding-bottom: 72px;
}
.info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
}
.infoRight {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.infoSection {
  margin-bottom: 40px;
}

.sectionTitle {
  font-size: 16px;
  color: var(--primary);
  font-weight: 700;
  padding-bottom: 12px;
}

.infoGrid {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.infoGrid p {
  font-size: 14px;
  line-height: 1.2;
}

.nutritionSection {
  padding-top: 30px;
}

.nutritionTitle {
  font-size: 14px;
  line-height: 1.2;
  color: var(--primary);
  font-weight: 600;
  padding-bottom: 12px;
}
.serving {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 1.2;
  padding-bottom: 24px;
}
.serving strong {
  font-weight: 700;
}
.nutritionGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.nutritionItem {
  display: flex;
  gap: 12px;
  font-size: 13px;
  line-height: 1.2;
}

.nutritionItem strong {
  font-weight: 500;
}
