.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: center;
  height: 42px;
  background: rgba(32, 32, 32, 0.5);
  backdrop-filter: blur(7.5px);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 105px;
  height: 24px;
  aspect-ratio: 35/8;
}
.text {
  color: var(--white);
  font-size: 18px;
  line-height: 1.2;
}
.util {
  display: flex;
  gap: 14px;
  align-items: center;
  color: var(--white);
  font-size: 13px;
  line-height: 1.2;
}
.util li:hover {
  font-weight: 600;
}
.nav {
  display: flex;
  justify-content: center;
  background: var(--dark, #202020);
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
  height: 42px;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.28;
}
.nav ul li:hover {
  color: var(--primary);
}
